body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  :root{
  --color-primary: #3d5cfe;
  --color-white: #ffffff;
  --color-black: #141515;
  --color-vilot: #a57dff;
  --color-light_blue: #7dd0ff;
  --color-green: #00c588;
  --color-orange: #fba918;
  --color-pink: #ff7d7d;
  
  }
  nav {
    background-color:var(--color-vilot);
    color: var(--color-black);
    display: flex;
    align-items: center;
   justify-content: space-between;
    padding: 10px;
    padding-right: 50px;
    padding-top: 18px;
  
  }
  
  .logoimg{
  display: flex;
  
  }
  nav img {
    height: 70px;
    width: 100px;
    margin-right: 10px;
    
    margin-left: 30px;
    padding-left: 40px;
  }
  nav ul {
    display: flex;
  margin-left: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    margin-right: 40px;
    font-size: 25px;
    transition: color 0.3s;
  
  }
  nav ul li:hover{
    color: var(--color-white);
  
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--color-vilot);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidenav a {
  padding: 26px 8px 26px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-black);
  display: block;
  transition: 0.3s;
  transition: background-color .5s;
  margin-bottom: 50px;
  
  }
  
  
  
  .sidenav a:hover {
  color: var(--color-black);
  background-color:var(--color-white);
  
  
  }
  #pehlabachaa:hover{
  background-color:var(--color-vilot);
  color: var(--color-black);
  }
  #dusrabachaa:hover{
  background-color:var(--color-vilot)
  }
  
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  
  
  .opennav {
  transition: margin-left .5s;
  padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }
    
    header {
      background-color: #7000b6;;
      color: #fff;
      padding: 20px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    
    nav li:last-child {
      margin-right: 0;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    main {
      padding: 20px;
    }
    
    section {
      max-width: 800px;
      margin: 0 auto;
    }
    
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    
    footer {
      background-color: #a57dff;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    footer {
    background-color: #a57dff;
    color: #fff;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .copy {
    background-color:#8c5aff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  #underline{
     color: black; 
    text-decoration: none;
    /* margin-top: 5px; */
    border-bottom: 2px solid #8c5aff;
  }
  