body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid red; */
}

#nav #options {
  width: 50%;
  font-family: Arial, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  font-size: 20px;
}
#nav #options :nth-child(1) {
  cursor: pointer;
}
#nav #options :nth-child(2) {
  cursor: pointer;

}
#nav #options :nth-child(3) {
  cursor: pointer;

}
#nav img {
  padding-left: 1%;
  width: 90px;
}
#nav #logsign {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nav #logsign :nth-child(1) {
  font-size: 25px;
  background-color: rgb(246, 240, 240);
  border: 2px solid rgb(208, 238, 243);
  /* border-color: rgb(37, 218, 234); */
  font-family: Arial, sans-serif;
  font-weight: 600;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 50px;
}
#nav #logsign :nth-child(1):hover {
  background-color: rgb(208, 206, 206);
  border: 2px solid rgb(169, 234, 246);
  cursor: pointer;
}
#nav #logsign :nth-child(2) {
  font-size: 23px;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: 600;
  background-color: #3d5cfe;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 50px;
}
#nav #logsign :nth-child(2):hover {
  cursor: pointer;
  background-color: #112fc5;
}

#head {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  background-color: #e5f1fa;
}
#head #cont {
  margin-left: 30px;
  font-weight: 100;
  font-size: x-large;
  font-family: Arial, sans-serif;
}
#head #cont :nth-child(2) {
  font-size: xx-large;
}
#head #cont #download {
  /* margin-top: 80px; */
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(33, 33, 33);
  border: 1px solid black;
  color: white;
  font-size: x-large;
}
#head #cont #download:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}
#head #cont :last-child {
  margin-left: 0px;
  margin-top: 100px;
  font-size: 22px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}
#head #cont .text {
  font-weight: 800;
  color: #8d5ff7;
  font-size: 50px;
}

#head #image {
  width: 60%;
}
#head #image img {
  width: 100%;
  height: 500px;
}

#cont2{
  width: 100%;
  /* height: 700px; */
  /* background-color:#ffffff; */
}
#cont2 img{
  width: 100%;
  /* height: 100%; */
}